// @import "~antd/dist/antd.less";
body {
  cursor: url(http://coco727.oss-cn-hongkong.aliyuncs.com/72f6dab2e779d3a075f14a81b6840f95.png),
    auto;
}
.bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: top center;
  background-size: cover;
  background-image: url("./assets/images/timg.jpeg");
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.showVideo {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.hideVideo {
  display: none;
}
.App {
  width: 100%;
  height: 100vh;
  position: relative;
}
.gezi {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;

  background-image: linear-gradient(
      45deg,
      #e1deb0 25%,
      transparent 25%,
      transparent 75%,
      #e1deb0 75%,
      #e1deb0
    ),
    linear-gradient(
      45deg,
      #e1deb0 26%,
      transparent 26%,
      transparent 74%,
      #e1deb0 74%,
      #e1deb0
    );
  background-image: -webkit-linear-gradient(
      45deg,
      #e1deb0 25%,
      transparent 25%,
      transparent 75%,
      #e1deb0 75%,
      #e1deb0
    ),
    -webkit-linear-gradient(45deg, #e1deb0 26%, transparent 26%, transparent 74%, #e1deb0
          74%, #e1deb0);
  background-image: -moz-linear-gradient(
      45deg,
      #e1deb0 24%,
      transparent 24%,
      transparent 76%,
      #e1deb0 76%,
      #e1deb0
    ),
    -moz-linear-gradient(45deg, #e1deb0 26%, transparent 26%, transparent 74%, #e1deb0
          74%, #e1deb0);
  background-image: -o-linear-gradient(
      45deg,
      #e1deb0 25%,
      transparent 25%,
      transparent 75%,
      #e1deb0 75%,
      #e1deb0
    ),
    -o-linear-gradient(45deg, #e1deb0 25%, transparent 25%, transparent 75%, #e1deb0
          75%, #e1deb0);
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
}
.ant-menu {
  background-color: rgba(255, 255, 255, 0) !important;
}
.ant-menu-sub {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.playIcon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 28px;
  z-index: 99;
  color: #fff !important;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-float {
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
}
.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-float {
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
}
.cd-top {
  position: fixed;
  right: 25px;
  top: -900px;
  z-index: 99;
  width: 70px;
  height: 900px;
  background: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/scroll.png)
    no-repeat center;
  background-size: contain;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/No_Disponible.cur),
    auto;
  opacity: 1;
}
a {
  color: #e67474;
  outline: none;
  -webkit-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
}
a {
  background-color: transparent;
  text-decoration: none;
  cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/ayuda.cur),
    auto;
}
